<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="utf-8">
    <title>Vue.js</title>

    <!-- Css -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" >
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.css" >
    <link rel="stylesheet" href="/node_modules/select2/dist/css/select2.css" >
</head>
<body>
    <div class="container" id="App">
        <h1>Bem vindo à série Vue.js</h1>

<!--

       <div class="well">
            <pre>
                {{ $data.colunasFiltro | json }}
            </pre>
        </div>

-->

        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <input v-model="busca" @keyup="onBuscar" type="text" class="form-control" placeholder="Digite sua busca!" />
                </div>
                <div class="col-md-6">
                    <select multiple v-model="colunasFiltro" v-el="colunasFiltroSelect" class="form-control">
                        <option value="name">Nome</option>
                        <option value="city">Cidade</option>
                        <option value="state">Estado</option>
                        <option value="country">País</option>
                    </select>
                </div>
            </div>

        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-fw fa-sort" :class="{ 'fa-sort-amount-asc': colunaOrdenada == 'id' && ordenaDesc == 1,
                                                              'fa-sort-amount-desc': colunaOrdenada == 'id' && ordenaDesc == -1 }"></i>
                        <a href="#" @click="onOrdenar($event, 'id')">#</a>
                    </th>
                    <th>
                        <i class="fa fa-fw fa-sort" :class="{ 'fa-sort-amount-asc': colunaOrdenada == 'name' && ordenaDesc == 1,
                                                              'fa-sort-amount-desc': colunaOrdenada == 'name' && ordenaDesc == -1 }"></i>
                        <a href="#" @click="onOrdenar($event, 'name')">Nome</a>
                    </th>
                    <th>
                        <i class="fa fa-fw fa-sort" :class="{ 'fa-sort-amount-asc': colunaOrdenada == 'city' && ordenaDesc == 1,
                                                              'fa-sort-amount-desc': colunaOrdenada == 'city' && ordenaDesc == -1 }"></i>
                        <a href="#" @click="onOrdenar($event, 'city')">Cidade</a>
                    </th>
                    <th>
                        <i class="fa fa-fw fa-sort" :class="{ 'fa-sort-amount-asc': colunaOrdenada == 'state' && ordenaDesc == 1,
                                                              'fa-sort-amount-desc': colunaOrdenada == 'state' && ordenaDesc == -1 }"></i>
                        <a href="#" @click="onOrdenar($event, 'state')">Estado</a>
                    </th>
                    <th>
                        <i class="fa fa-fw fa-sort" :class="{ 'fa-sort-amount-asc': colunaOrdenada == 'country' && ordenaDesc == 1,
                                                              'fa-sort-amount-desc': colunaOrdenada == 'country' && ordenaDesc == -1 }"></i>
                        <a href="#" @click="onOrdenar($event, 'country')">País</a>
                    </th>
                    <th>
                        <i class="fa fa-fw fa-sort" :class="{ 'fa-sort-amount-asc': colunaOrdenada == 'datebirth' && ordenaDesc == 1,
                                                              'fa-sort-amount-desc': colunaOrdenada == 'datebirth' && ordenaDesc == -1 }"></i>
                        <a href="#" @click="onOrdenar($event, 'datebirth')">Dt. Nascimento</a>
                    </th>
                    <th width="1%" nowrap>
                        <a href="#" @click="onAbrirTodosDetalhes">
                            <i class="fa" :class="{ 'fa-plus': abrirDetalhes.length <= 0,
                                                    'fa-minus': abrirDetalhes.length > 0 }"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody v-for="pessoa in pessoas | filterBy busca | orderBy colunaOrdenada ordenaDesc">
                <tr>
                    <td>{{ pessoa.id }}</td>
                    <td>{{ pessoa.name }}</td>
                    <td>{{ pessoa.city }}</td>
                    <td>{{ pessoa.state }}</td>
                    <td>{{ pessoa.country }}</td>
                    <td>{{ pessoa.datebirth | filtroData }}</td>
                    <td>
                        <a href="#" @click="onAbrirDetalhes($event, pessoa.id)" v-show="pessoa.descript != ''">
                            <i class="fa" :class="{ 'fa-plus': abrirDetalhes.indexOf(pessoa.id) == -1, 'fa-minus': abrirDetalhes.indexOf(pessoa.id) > -1}"></i>
                        </a>
                        <i class="fa fa-plus" v-show="pessoa.descript == ''" style="opacity: 0.3"></i>
                    </td>
                </tr>
                <tr v-show="abrirDetalhes.indexOf(pessoa.id) > -1 && pessoa.descript != ''">
                    <td colspan="7">{{ pessoa.descript }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- Scripts JS -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="/node_modules/lodash/index.js"></script>
    <script src="/node_modules/moment/moment.js"></script>
    <script src="/node_modules/select2/dist/js/select2.js"></script>
    <script src="app.js"></script>
</body>
</html>